.onboardingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    min-height: 100vh;
    position: fixed;
    gap: 10px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    text-align: center;
    direction: rtl;
    color: #551b3b;
    max-width: 100vw;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    font-size: 1rem;
    margin-bottom: 0;
}

.onboardingImage {
    width: 450px;
    height: 450px;
    align-self: center ;
}

.logo {
    width: 150px;
    align-self: center;
}

.nextButton {
    background-color: #823270;
    color: white;
    border: none;
    padding: 10px 5px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    align-self: center;
}

