.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 300px;
    margin-bottom: 10px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loginInput {
    width: 20%;
    padding: 10px 0;
    border-radius: 25px;
    border: 1px solid #373333;
    background: rgba(217, 217, 217, 0.00);
    text-align: center;
    margin:    10px 0;
}

.loginInput:focus {
    outline: none;
    border: 1px solid #763f66;
}

.loginInput:active {
    border: 1px solid #763f66;
}

.loginButton {
    width: 20%;
    padding: 10px 0;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 25px;
    background: #9B718F;
    margin: 2% 0;
}

.registerButton {
    width: 20%;
    padding: 1%;
    border: none;
    color: rgb(44, 41, 41);
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    background: #07035300;
    margin: 5% 0;
    text-decoration: underline;
}

@media (max-width: 768px) {

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.loginInput {
    width: 50%;
    padding: 2%;
    margin: 2% 0;
}

.loginButton {
    width: 50%;
    padding: 2%;
    margin-top: 10px;
    border-radius: 25px;
    margin: 2% 0;
}

.login {
    height: 100vh;
}
    
}