@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.chatHeader {
  background-color: #885D80;
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  font-family: "Varela Round", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerTitleAndProfile {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: flex-start;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username {
  font-size: 0.7rem;
}

.chatTitle {
  font-size: 1.5rem;
  margin: 0;
  align-self: start;
  margin-top: 2%;
  direction: rtl;
}
.subtitle {
  font-size: 0.9rem;
  text-align: right;
  align-self: end;
  margin-right:5%;
  justify-content: center;
  color: white;
  width: 90%;
  direction: rtl;
}

.backButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  align-self: start;
}

.backButtonContainer {
  display: flex;
  justify-content: start;
}