@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.chatHeader {
  background-color: #885D80;
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  font-family: "Varela Round", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  direction: rtl;
}

.chatTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.headerTitleAndProfile {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username {
  font-size: 1rem;
}

.subtitle {
  font-size: 1.2rem;}

.backButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  align-self: start;
}

.backButtonContainer {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 768px) {

.username {
  font-size: 1rem;
}

.subtitle {
  font-size: 1rem;
}

.chatTitle {
  font-size: 1.2rem;
}

.headerTitleAndProfile {
  justify-content: flex-start;
}

}