.nav {
    background-color: #a37b94;
    overflow: hidden;
    width: 70%;
    border-radius: 15px; 
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.navImg {
    display: block;
    width: 100%;
    height: 100%;
}

.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.active {
    background-color: #7a5a6f;
    border-radius: 10px;
    height: 35px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nonactive {
    background-color: transparent;
    border-radius: 10px;
    height: 35px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}