/* App.module.css */
.app {
  text-align: center;
}

.appHeader {
  background-color: #53474F;
  padding: 5px 30px 5px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  height: 100px;
}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  background-color: #FBF8F8;
  height: 100vh;
}


  